body {
  background-color: #373636;
}

#full-container {
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: #414141;
  border: solid 1px gray;
  color: lightgray;
}

#cookie-title {
  margin-bottom: 3rem;
}

#cookie-info {
  padding: 2rem;
}

.cookie-name + h4 {
  padding-left: 1rem;
}

.cookie-card {
  background-color: #373636;
  padding: 1rem;
  border: solid 1px #fd9460;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav {
  margin-top: 1rem;
}

#nav a button {
  background-color: #373636;
  font-size: 17px;
  color: gray;
}

#nav-to-map-button {
  width: 15px;
  margin-top: 4px;
  border-radius: 5px;
}
